*{
  
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.start{
    background-color: black;
    color:white;
    text-align: center;
    margin: 0%;
}
.navbar{  
    display:flex;
flex-direction: row;
justify-content: space-between;


}
.navbuttons >ul{
    list-style-type:none;
    display: flex;
    flex-direction:row;
   
    justify-content:space-between;
    color:black;
    font-weight: 800;
font-size: 25px;
padding:4vh;

}

.navbuttons >ul >li >a{
    text-decoration: none;
    color: black;

}

.logo >a >img{
    width:250px;
    height:80px;
   padding:3vh;
}
.navbuttons >ul >li{
    margin:20px;
}
.icons{
    padding:6vh;
}
.navbuttons >ul >li >a:hover{
    color: green;
}
.home {
    background-image: url(./sai.jpg);
    width:100%;
  background-size:cover;
  background-repeat: no-repeat;
    height: 600px;
    background-position: center;

}

.bigdeals{
    height: fit-content;
    margin-top: 10vh;

}

.deal1 >img,.deal2 >img,.deal3 >img{
    width:433px;
    height:274px;
    border-radius: 9px;
}
.deals{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  width: 90%;
margin:auto;

}

.deal1 >img,.deal2 >img,.deal3 >img{
    border:5px white solid;
    cursor: pointer;
    border-radius: 9px;
}
.deal1 >img:hover{
    box-shadow: 4px 4px 10px grey;
   
    
}
.deal2 >img:hover{
    box-shadow: 4px 4px 10px grey;
    
}
.deal3 >img:hover{
    box-shadow: 4px 4px 10px grey;
    
}
.bestseller{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    margin:auto;
    width: 90%;
    margin-top:8vh;
   
}

.bigfeatured{
    height:fit-content;
    margin-top: 10vh;
}

.bs1 >img,.bs2 >img,.bs3 >img,.bs4 >img{
    width:250px;
    height:250px;
    border-radius:0px 25px;
   
}
.dis{
    background-color: green;
    color: white;
    padding:1vh;
    border-radius: 0px 25px;
    position: absolute;
    left:15px;
    bottom:85px;
}
.bs1{
    width: 250px;
    height:320px;
    border:2px solid white;
    padding:2vh;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    border-radius:0px 25px;
    position: relative;
}
.bs2{
    width: 250px;
    height:320px;
    border:2px solid white;
    padding:2vh;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    border-radius:0px 25px;
    position: relative;
}
.bs3{
    width: 250px;
    height:320px;
    border:2px solid white;
    padding:2vh;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    border-radius:0px 25px;
    position: relative;
}
.bs4{
    width: 250px;
    height:320px;
    border:2px solid white;
    padding:2vh;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    border-radius:0px 25px;
    position: relative;
}
.seller >h2{
    left: 550px;
   bottom: 60px;
    font-size: 50px;
  color: white;
  font-weight: bold;
  position: absolute;
   
}
.seller{
border-radius: 9px;
    background-image: url(./seed\ \(1\).jpg);
    width:90%;
    height:200px;
    background-size: cover;
    background-position:center;
    margin: auto;
    position: relative;
}
.bs1 >h4,.bs2 >h4,.bs3 >h4,.bs4 >h4{
    font-size: 15px;
}
.bs1:hover{
    box-shadow: none;
}
.bs2:hover{
    box-shadow: none;
}
.bs3:hover{
    box-shadow: none;
}
.bs4:hover{
    box-shadow: none;
}

.tt >h1,.tt >h3{
   
 
    font-weight: 700;
    font-size: 55px;
    text-align: center;

}
.icons >img:hover{
    border:4px solid green;
    border-radius: 50%;
}
.pic1 >img{
    width: 200px;
    height:200px;
    margin-left: 3.5vh;
    border-radius:9px;
}
.product1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    width: 90%;
    margin-top:8vh;
    
}
.pic1{
    width: 250px;
    height:320px;
border:3px solid rgb(0, 0, 0);
    padding:2vh;
    cursor: pointer;
    border-radius:0px 25px;
position: relative;
   
}
.product2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    width: 90%;
    margin-top:8vh;
   

}
.product3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    width: 90%;
    margin-top:8vh;
   

}
.pic1 >h4{
    text-align: center;
    color: green;
    margin-top: 2vh;
}
.pic1 >h3{
    text-align: center;
}
.pic1 >img:hover{
    opacity: 0.6;
   
}


.products >h2{
    left: 550px;
    bottom: 60px;
     font-size: 50px;
   font-weight: bold;
   position: absolute;
   color: black;
}
.bigproducts{
    margin-top:10vh;
    height: fit-content;
}
.products{
    background-image: url(./leaf3.jpg);
    width:90%;
    height:200px;
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
    border-radius: 9px;;
}

.text{
    text-align: center;
}
 .pimg >img,.pimg1 >img{
     width: 600px;
     height:350px;
     border-radius:40px 0px;
     padding: 1vh;
    cursor: pointer;
     border:2px solid white;
     
 }


 .buttons >.b2{
   float: right;
   margin-right: 3vh;
   font-weight: bold;
   font-size: 15px;
   margin-top: 2vh;
   background-color:green;
   color:white;
   cursor: pointer;
   border-radius: 5px;
   border-color:green;
 }
 .buttons >.b1{
    font-size: 15px;
    font-weight: bold;
    margin-left: 4vh;
    margin-top: 2vh;
    background-color:black;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border-color:black;
  }
 .b1 >a{
     color: white;
     text-decoration: none;
 }
.b2 >a{
    color: white;
    text-decoration: none;
}

  .b4{
    float: right;
    margin-right: 3vh;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2vh;
    background-color:green;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border-color:green;
  }

  .b3{
    font-size: 15px;
    font-weight: bold;
    margin-left: 4vh;
    margin-top: 2vh;
    background-color:black;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border-color:black;
  }


.bigaboutus{
    height: fit-content;
    margin-top: 10vh;
}

.us{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5vh;
}

 .aboutus{
     margin: 8vh;
 }
 .aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin:10vh auto;
    width: 90%;
    
 }

 
 
 .phase1{
    margin-top: 10vh;
    
 }
 .pimg:hover{
    box-shadow: 3px 3px 20px green;
    border-radius:40px 0px;
 }
 .about{
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;
    margin:10vh auto;
    width: 90%;
    
 }
 .phase2{
    margin-top: 3.5vh;
    margin-left: 2vh;
 }
 .pimg1:hover{
    box-shadow: 3px 3px 20px green;
    border-radius:40px 0px;
 }

.bigtest{
    height:fit-content;
    margin-top: 10vh;
    width: 100%;
}

 .review{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:90%;
    margin: auto;
    align-items: center;
    
}
.person2{
    border:3px solid white;
    border-radius: 50px;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    background-image: url(./soil3.jpg);
    background-size: cover;
    background-position: bottom;
}
.person2:hover{
    background-color: black;
    cursor: pointer;
 }
 
 
 .person1 >img,.person2 >img{
    width:100px;
    height:100px;
    border-radius: 100px;
    margin-top: 16vh;
    position:relative;
    right: 50px;
    bottom:20px;
   

}

.person1{
    border:3px solid white;
    border-radius: 50px;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(./soil2.jpg);
    background-size: cover;


}
.person1:hover{
  cursor: pointer;
    background-color: black;
  
}

.para{
    margin-right:3vh;
    margin-top: 10vh;
}
.arrow >img{
    width: 100px;
    height: 100px;
}

.testimonals {
    text-align: center;
    height: 200px;
}



.con1,.con2,.con3,.con4{
border:3px solid black;
width:250px;
height:200px;
background-color:rgba(1, 8, 2, 0.877);
position: relative;
}
.contactus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
flex-wrap: wrap;
}
.con1 >img{
    position:absolute;
    bottom:130px;
    left:55px;
    width: 150px;
    height:150px;
         
    
}
.con2 >img{
    position:absolute;
    bottom:130px;
    left:55px;
    width: 150px;
    height:150px;
}
.con3 >img{
    position:absolute;
    bottom:125px;
    left:48px;
    width: 150px;
    height:150px;
    
}
.con4 >img{
    position:relative;
    bottom:70px;
    left:95px;
    width: 100px;
    height:100px;   
}

.con2 >h3{
text-align: center;
color:white;
position: absolute;
top: 100px;
left: 60px;

}
.con1 >h3{
    text-align: center;
margin: auto;
color: white;
position: absolute;
top: 100px;
left:45px;

}


.con3 >h3{
    text-align: center;
    color:white;
    position: absolute;
    top: 100px;
    left:90px;
    
}

.con4 >h3{
    text-align: center;
    color:white;
    position: absolute;
    top: 100px;
    left: 85px;
}    

.border1,.border2,.border3{
    border:2px solid black;
    height:50px;
    width: 200px;
    margin-top:2vh;
   margin-left: 3vh;
   background-color: white;
   position: absolute;
top:130px;
}
.border1 >h4,.border2 >h4,.border3 >h4{
    text-align: center;
    margin-top:1.8vh;
    color: #909090;
}

.border1 >a{
    color: #909090;
  text-decoration: none;
  
}
.border1 >a >h4{
    margin-top:1.8vh;
    text-align: center;
}

.border1 >a:hover {
    color: #909090;
    text-decoration:none; 
    cursor:pointer;  
}
.border1:hover{
   opacity: 0.8;
   cursor: pointer;
}
.border2:hover{
    opacity: 0.8;
    cursor: pointer;
}
.border3:hover{
    opacity: 0.8;
    cursor: pointer;
}


.question{
    font-size:20px;
    text-align:center;
    font-weight:700 ;
   height: 100px;
}
.caption{
    background-color: green;
    color: white;
    padding:1vh;
    border-radius: 0px 9px;
    position: absolute;
   top:10;
   right:40px;
    
}
.bigcontactus{
    height: fit-content;
    width: 100%;
    margin-top: 10vh;
}





.bigrow{
    margin-top: 15vh;
    height: fit-content;
    background-color:black;
}
.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
flex-wrap: wrap;
height: 300px;
width:90%;
place-items: center;
}

.f1 >ul >li >h3{
    color:white;
   
    font-size: 30px;
}

.f1 >ul >li{ 
 list-style-type : none;
color: white;
font-size: 20px;
}

.followus >img{
width:60px;
height:60px;
}

.followus >h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
#bb{
    width:50px;
    height: 50px;
margin-bottom: 1vh;
}
.last >img{
    width:200px;
    height:100px;

}

.bell {
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.bigbottom {
    height:5px;
    width:100%;  
}
.bottom >strong{
    font-weight: 500;
    font-size: 20px;
}
.bottom >h5{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.bottom {
    text-align: center;
}
#bb:hover{
    opacity: 0.6;
}
.followus >img:hover{
opacity:0.6;
}








.navbar1 >ul {
    list-style-type:none;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    color:black;
    font-weight: 800;
font-size: 20px;

}
.navbar1 >ul >li{
padding: 5vh;


}
.navlogo1 >img{
    width:250px;
    height:100px;
    padding:3vh;
}
.navdiv1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    align-items: center;

}

.icons1{
    padding:5vh;
    
}

.icons1 >img{
    padding: 5px;
    height:30px;
}
.navbar1 >ul >li:hover{
    color: green;

}


.small >img{
    border: 1px solid white;
    height: 100px;
    width: 100px;
   
}

.heading >img{
height: 400px; 
width: 400px;
}
.heading{
    border:1px solid white;
    height: 400px; 
width: 400px;
}


.border{
    display:flex;
    flex-direction: row;
    font-size: x-large;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.m{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
.small >img{
    width: 100px;
     height: 100px;
}

.cart{
    display: inline-flex;
    margin: 15px;
   
}
#save >span{
padding: 0.5vh;
}
.cart >select{
    cursor: pointer;
}
.bar >.z{
    
    width:100px;
    height: 30px;
    background-color:black;
    text-align: center;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border-color: black;
}
.bar >.y{
    border-radius: 5px;
    width:100px;
    height: 30px;
    background-color: green;
    text-align: center;
    color:white;
    cursor: pointer;
    border-color: green;
}

.discription{
    margin: 20px;
   
}
.Special,.discription{
 margin: 20px;
}

.Special >p{
font-size: 15px;
font-weight: 600;
}

#details{
    margin: auto;
    line-height: 1.8;
}
.deldet{
    border:2px solid white;
    width:90%;
    height:10vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.phone{
 border: 3px solid black;
 height: 10vh;
 width:30%;
 margin: auto;
 background-color: rgb(3, 12, 3);
 color:white;
}
.email{
    border:3px solid black;
    height: 10vh;
    width:30%;
    margin: auto;
    background-color: black;
    color: white;
}
.del{
    border:3px solid black;
    height: 10vh;
    width:30%;
    margin: auto;
    background-color: black;
    color: white;
}

.aa{
    border:3px solid white;
    border-radius:25px;
    width:400px;
    height:200px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}

.bb{
    border:3px solid white;
    border-radius: 25px;
    width:400px;
    height:200px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}

.cc{
    border:3px solid white;
    border-radius: 25px;
    width:400px;
    height:200px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}

.price{
    width:90%;
    margin-left: 5vh;
}

.price >p{
    font-size: 20px;
    font-weight: 600;
}

.delivery >h2,del,li{
    font-size: 20px;
    font-weight: 600;

}

.discription >p{
    font-size: 15px;
    font-weight: 600;
}





.review1,.review2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin:40px auto; 
   width:90%;
   
}
.aa >h3,.bb >h3,.cc >h3{
    margin-top:7vh;
}
.dd >h3,.ee >h3,.ff >h3{
    margin-top: 7vh;
  
}
.ree >h1{
    text-align: center;
}

.aa,.bb,.cc,.dd,.ee,.ff{
    text-align: center;
}
.dd,.ff{
    border:3px solid white;
    border-radius:25px;
    width:400px;
    height:200px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}
.ee{
    border:3px solid white;
    border-radius: 25px;
    width:400px;
    height:200px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}

.aa:hover{
    box-shadow: none;
}
.bb:hover{
    box-shadow: none;
}
.cc:hover{
    box-shadow: none;
}
.dd:hover{
    box-shadow: none;
}
.ee:hover{
    box-shadow: none;
}
.ff:hover{
    box-shadow: none;
}





/*Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 2px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color:rgb(9, 175, 9);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: black;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }